:root {
  --accent-color: #156963;
  --section-text-color: #2c1500;
  --secont-back-color: #000000;
  --white-color: #fff;
  --main-font: 'Montserrat', sans-serif;
  --footer-font: 'Work Sans', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Poppins', sans-serif;
  font-family: 'Work Sans', sans-serif; */
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: 0;
  background-color: inherit;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* components */
.container {
  max-width: 1235px;
  margin: 0 auto;
  padding-left: 33px;
  padding-right: 33px;
}

/* utility */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.header {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;

  fill: var(--accent-color);
  color: #ffffff;
}

.header-logo-text {
  position: absolute;
  font-family: 'Nunito';
  font-weight: 900;
  font-size: 12px;
  text-align: center;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.controls-list {
  display: flex;
  gap: 40px;
  margin-right: 15px;
}

.controls-button {
  padding: 8px 0;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.controls-button:hover,
.controls-button:focus {
  fill: var(--accent-color);
}

.auth-list {
  display: flex;
}

.auth-button {
  display: block;
  padding: 8px 29.5px;
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  color: var(--accent-color);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.auth-button:hover,
.auth-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* hero */
.hero-container {
  max-width: 1346px;
  display: flex;
}

.hero-content {
  position: relative;

  max-width: 523px;
  height: 556px;
  margin-top: 186px;
  margin-left: 77px;
}

.hero-title {
  margin-bottom: 24px;

  font-weight: 500;
  font-size: 68px;
  line-height: 1.31;
  color: var(--accent-color);
}

.hero-text-thumb {
  padding-right: 40px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.78;
  color: var(--section-text-color);
  opacity: 0.8;
}

.slider-control-list {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 640px;

  display: flex;
  justify-content: space-between;
}

.slider-button {
  padding: 40px 50px;
  color: var(--accent-color);

  transition-property: color, fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slider-button:hover,
.slider-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.slider-button:hover .slider-button-controls {
  color: #f2f2f2;
  fill: #f2f2f2;
}

.slider-button:focus .slider-button-controls {
  color: #f2f2f2;
  fill: #f2f2f2;
}

.slider-button-controls {
  display: flex;
  align-items: center;

  margin-bottom: 12px;

  color: #333333;
  fill: currentColor;
  opacity: 0.5;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slider-button-controls.left-button {
  position: relative;
  left: 0;
  top: 0;
  transform: translate(-5px, 0px);
}

.slider-button-name {
  margin-left: 8px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
}

.slider-button-name.right {
  margin-left: 0;
  margin-right: 8px;
}

.slider-name {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.21;
  color: inherit;
}

.right-button .slider-button-controls {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

/* advantages */
.advantages {
  padding-top: 142px;
  padding-bottom: 80px;
}

.advantages-list {
  display: flex;
  gap: 32px;
}

.advantages-item {
  flex-basis: calc((100% - 96px) / 3);
  padding: 22px 16px;
  border: 1px solid #e0e0e0;
  color: var(--accent-color);
  fill: currentColor;
}

.item-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.item-header svg {
  min-width: 48px;
}

.advantages-item-title {
  margin-left: 16px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}
.advantages-item-title span {
  display: block;
}

.advantages-itemt-text {
  font-size: 10px;
  line-height: 1.6;
}

/* features */
.features {
}
.container {
}

.features-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.features-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--secont-back-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.features-filter select {
  padding: 8px 12px;
  border: 1px solid #e0e0e0;
}

.features-list {
  display: flex;
  gap: 20px;
  padding-top: 24px;
  padding-bottom: 80px;
}

.features-item {
  flex-basis: calc((100% - 80px) / 5);

  text-align: center;
  color: var(--secont-back-color);
  line-height: 1.25;
}

.features-link {
  display: block;
  color: inherit;
}

.features-name {
  margin-top: 16px;
}

.features-price {
  display: inline-block;
  margin-top: 8px;

  font-weight: 600;
}

/* modal */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sing-up-modal {
  position: absolute;
  z-index: 1;

  min-width: 408px;
  min-height: 584px;

  background-color: #fcfcfc;
  border-radius: 4px;
}

.close-button {
  position: absolute;
  right: 24px;
  top: 24px;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  line-height: 0;
}
